*~
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
m4/
config.*
configure
depcomp
*.tar.gz
install-sh
libtool
ltmain.sh
missing
*.lo
*.o
*.trs
ENV
*.pyc
/pre_processed_newt.h
*.la
.libs
/ar-lib
.dirstamp
/test-driver
*.log
.deps
test/dispatch
/libbash.a
